<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CDAV Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>CDAV Admin</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('import_csv') }}">Import</a>
            <a href="{{ url_for('export_group') }}">Export</a>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endwith %}
            {% block content %}{% endblock %}
    </body>
</html>